{% extends "articles/base.html" %}

{% load static %}

{% block title %}Новости{% endblock %}

{% block content %}
    <div class="news">
        {% for article in articles %}
            <div class="article">
                <h2>{{ article.title }}</h2>
                <img src="{{ article.image.url }}" alt="{{ article.title }}">
                <p>{{ article.text }}</p>

                <div class="tags">
                    {% for scope in article.scopes.all|dictsort:"tag__name" %}
                        <span class="badge {% if scope.is_main %}badge-primary{% else %}badge-secondary{% endif %}">{{ scope.tag.name }}</span>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}